.cardview{
    display:flex;
    flex-wrap: wrap;
}

.card{
    margin:5px;    
    border: 1px solid black;
    flex: 0 40px;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 160px;
    width:160px;
}

.card > .title{
    background-color: #0275d8;  
    color: white;
    border: 1px solid black;  
    margin:1px;
    font-size: 1rem;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.card > .content{
    background-color: white;   
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin:1px; 
} 

.card > .content  .labelText{
    color:#0275d8;
}

.card > .content  .valueText{
    color: black;
}